<h1>Drinking Through the Classics</h1>

<div>
    <h2>Select author</h2>
    <ul>
    <% @data.find do |data| %>
    <li class="author"><a href="drinks/<%= data[:id] %>"><%= data[:author] %></a></li>
    <% end %>
  </ul>
</div>

<div>
  <h2>Select beverage</h2>
  <ul>
  <% @data.find_all do |data| %>
  <li class="drink"><a href="drinks/<%= data[:id] %>"><%= data[:drink] %></a></li>
  <% end %>
</ul>
</div>

<div>
<h2>You are...</h2>
<ul>
  <% @data.find_all do |data| %>
  <li class="drinker"><a href="drinks/<%= data[:id] %>"><%= data[:drinker] %></a></li>
  <% end %>
</ul>
</div>
